extends layout

block header
    link(href="styles/home-index.css",rel="stylesheet")

block content
  body
    div#fb-root
    div.container-fluid

      header
        h1 InterestedIn

      div#content
      //   div.col-xs-6.site-intro
      //     p
      //       | Socialysis is analytics tool to know your social connections better

      //   div.col-xs-6.signin
      //     h2 Sign In
      //     button.btn.btn-default#signin(type="submit") Login with Facebook


block scripts
    script(src="js/components/jquery/dist/jquery.min.js")
    script(src="js/components/bootstrap/dist/js/bootstrap.min.js")
    script(src="js/fb.js")
    script(data-main='js/boot', type='text/javascript',src='/js/libs/require.js')  
