extends layout

block header
    link(href="styles/home-index.css",rel="stylesheet")
    link(href="styles/login.css",rel="stylesheet")
    link(href="styles/profile.css",rel="stylesheet")
    link(href="styles/contacts.css",rel="stylesheet")

block content
  body
    div#content

block scripts
    script(data-main='js/boot', type='text/javascript',src='/js/components/requirejs/require.js')  
