<header>
  <h1 class="pull-left">InterestedIn</h1>
  <div class="pull-right">
    <form method="post" action="/logout">
      <button class="btn" type="submit">Log Out</button>
    </form>
  </div>
</header>

<div class="navigation">
  <div class="col-xs-12">
    <div class="row">
      <div class="col-xs-4 page-link">
        <a href="#index"> Activity Stream </a>
      </div>
      <div class="col-xs-4 page-link">
        <a href="#profile/me"> Profile </a>
      </div>
      <div class="col-xs-4 page-link">
        <a class="active" href="#contacts/me"> Contacts </a>
      </div>
    </div>
  </div>
</div>

<div class="page-content recent-activity">
  <h2>Your contacts</h2>
  <div id="contacts-list">
  </div>
</div>

<p>
  <a href="#addcontact">Add a Contact</a>
</p>
