<header>
  <h1 class="pull-left">InterestedIn</h1>
  <div class="pull-right">
    <form method="post" action="/logout">
      <button class="btn" type="submit">Log Out</button>
    </form>
  </div>
</header>

<div class="navigation">
  <div class="col-xs-12">
    <div class="row">
      <div class="col-xs-4 page-link">
        <a href="#index"> Activity Stream </a>
      </div>
      <div class="col-xs-4 page-link">
        <a class="active" href="#profile/me"> Profile </a>
      </div>
      <div class="col-xs-4 page-link">
        <a href="#contacts/me"> Contacts </a>
      </div>
    </div>
  </div>
</div>


<div class="page-content">

  <div class="row">
    <div class="col-xs-12">
      <div class="profile-header">
        <h1><%=name.first %> <%= name.last %></h1>
      </div>
    </div>
  </div>
</div>


<div class="page-content recent-activity">
  <h2>Recent Activity</h2>
  <div class="status_list"></div>
</div>
