div.page-content h2.adding-new-contacts {
    text-align: center;
    line-height: 2em;
    font-size: 1.5em;
    padding-top: 10px;
    font-weight: normal;
}

#contacts-list h1 {
    display: inline;
}

.user-contact {
    margin: 1%;
 }

.page-content a {
    display: block;
}

.page-content .row {
    padding: 1%;
}