/**
* theme url: https://kuler.adobe.com/David-color-theme-3838234/
*/
body {
    background-color: #E9EAED;
}
#content {
    /* margin-top: -20px; */
}

header {
    height: 50px;
    background-color: #36B898;
}

header h1 {
    margin-top: 7px;
    margin-left: 10px;
    font-size: 30px;
}

header button {
    margin-top: 7px;
    margin-right: 10px;
}

.navigation {
    border-radius:3px;
    border-bottom:4px solid white;
    height: 40px;
    margin: 10px auto;
    width: 80%;
    background-color: white;
}

.navigation .page-link a {
    line-height: 40px;
    display: block;
    text-align: center;
    text-decoration: none;
    color: #737373;
}

.navigation .page-link a:hover {
    color: black;
    border-bottom:2px solid #F24C32;
}

.navigation .page-link a.active {
    color: #36B898;
}

.page-content {
    border-radius:3px;
    margin: 10px auto;
    width: 80%;
    background-color: white;
}

#update-area {
    margin: 10px;
}

#update-area button {
    display: block;
    margin-top: 10px;
}

.status-text {
    padding: 5px 15px;
}